<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your chats</h1>
<div class="chat">
    <p>from:<%= user.from %>,</p>
    <div class="msg">
        <p>message:<%= user.msg %></p>
    </div>
    <p>received by:<%= user.to %></p>
</body>
</html>