<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chats</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" placeholder="who are you" name="form">
        <textarea name="msg" id="">write msg</textarea>
        <input type="text" placeholder="whom to send" name="to">
        <button type="submit">add chat</button>
    </form>
</body>
</html>